<!--<div>
    <header data-bind="compose: { view: 'nav' }"></header>
    <section id="content" class="main container-fluid"
        data-bind="router: { transition: 'entrance', cacheViews: true }">
    </section>
    <footer data-bind="compose: { view: 'footer' }"></footer>
</div>-->

<!--<div> 
    <header id="header" data-bind="compose: { view: 'mmenu' }"></header>
    <section id="content" class="main container-fluid"
        data-bind="router: { transition: 'entrance', cacheViews: true }">
    </section>
    <footer id="footer" data-bind="compose: { view: 'footer' }">

    </footer>
</div>-->



<div id="page">
			<div id="header" data-bind="compose: { view: 'mmenu' }">
				Examples
			</div>
			<div id="content" data-bind="router: { transition: 'entrance', cacheViews: true }">>
				
			</div>
			<nav id="menu">
				<ul>
					<li><a id="open-icon" href="#">
						<i class="icon icon-white icon-list"></i></a></li>
					<li><a href="index.html">
						<i class="icon icon-white icon-home"></i>
						Basic example</a></li>
					<li><a href="horizontal-submenus.html">
						<i class="icon icon-white icon-arrow-right"></i>
						Horizontal sliding submenus example</a></li>
					<li><a href="vertical-submenus.html">
						<i class="icon icon-white icon-arrow-down"></i>
						Vertical submenus example</a></li>
					<li><a href="positions.html">
						<i class="icon icon-white icon-move"></i>
						Positioning the menu</a></li>
					<li><a href="advanced.html">
						<i class="icon icon-white icon-star"></i>
						Advanced example</a></li>
					<li><a href="onepage.html">
						<i class="icon icon-white icon-resize-vertical"></i>
						One page scrolling example</a></li>
					<li class="Selected"><a href="iconbar.html">
						<i class="icon icon-white icon-info-sign"></i>
						Iconbar</a></li>
					<li><a href="dragopen.html">
						<i class="icon icon-white icon-hand-up"></i>
						Drag/swipe the menu open</a></li>
				</ul>
			</nav>
		</div>



