<section>
    <h2 class="page-title" data-bind="text: title"></h2>

     <!--<select data-bind="chosen: {}, options: stuff, selectedOptions: stuffSelected" style="width:350px; " multiple class="chosen" >
       
     </select>-->

     <!--<select data-bind="chosen: {}, options: stuff, selectedOptions: stuffSelected, optionsAfterRender: function () { $('.chosen').trigger('chosen:updated'); }" style="width:350px; " multiple class="chosen" >
       
     </select>-->

     <select data-bind="chosen: {}, options: stuff, selectedOptions: stuffSelected, optionsAfterRender: function () { $('.chosen').trigger('chosen:updated'); } " style="width:350px; " multiple class="chosen" >
       
     </select>

     <span data-bind="text: stuffSelected"></span>

    <br /><br />
    <button data-bind="click: addToStuff">Add to Stuff</button>

    <!-- <button data-bind="click: addItem_ONCLICK"></button>-->

</section>