<section>
    <h2 class="page-title" data-bind="text: title"></h2>

     <select data-bind="chosen: {}, options: stuff, selectedOptions: stuffSelected, optionsAfterRender: function () { $('.chosen').trigger('chosen:updated'); } " style="width:350px; " multiple class="chosen" >
       
     </select>

     <span data-bind="text: stuffSelected"></span>



    <br /><br />
    <button data-bind="click: addToStuff">Add to Stuff</button>


    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a tabindex="-1" href="#">Action</a></li>
  <li><a tabindex="-1" href="#">Another action</a></li>
  <li><a tabindex="-1" href="#">Something else here</a></li>
  <li class="divider"></li>
  <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>

</section>