<div data-bind="compose: { view: 'nav' }">
</div>
<div id="page">

    
	<!--<div id="header" class="navbar-fixed-top" style="margin-left:30%;">
        <a id="open-icon-header" href="#menu"></a>
		Hot Towel Mobile
		<a href="#menu-right" class="friends right"></a>
	</div>-->
    <div class="navbar navbar-fixed-top navbar-inverse" style="margin-left:30%;">
      <div class="navbar-inner">
        <div class="container">
 
          <ul class="nav">
            <li>
               <a id="open-icon-header" href="#menu" class="barz">
               </a>
            </li>
          </ul>
 
          <!-- Be sure to leave the brand out there if you want it shown -->
        
          <a class="brand" style="margin-left:50px;" href="#">Project name</a>
  
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
 
        </div>
      </div>
    </div>

	<div id="content" style="padding: 40px 15px 15px 15px;" data-bind="router: { transition: 'entrance', cacheViews: true }">

	</div>
	
</div>

