<div data-bind="compose: { view: 'nav' }">
</div>
<div id="page">
   
	<div id="header">
		
        

        <nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
               <a id="open-icon-header" href="#menu"></a>
            </div>
            <div class="navbar-inner navbar-secondary">
               <h1>Hot Towel Mobile</h1>
            </div>
        </nav>




	</div>
	<div id="content" data-bind="router: { transition: 'entrance', cacheViews: true }">

	</div>
	
</div>

