<div data-bind="compose: { view: 'nav' }">
</div>
<div id="page">
    
    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">           

              <a data-toggle="collapse" data-target=".nav-collapse" id="open-icon-header" href="#menu"></a>

              <!-- Be sure to leave the brand out there if you want it shown -->
              <a class="brand center" href="#">Hot Towel Mobile</a>
 
              <!-- Everything you want hidden at 940px or less, place within here -->
              <div class="nav-collapse collapse">
                <!-- .nav, .navbar-search, .navbar-form, etc -->
              </div>
 
           
          </div>
        </div> 

	<div id="header">
        
        

	</div>
	<div id="content" data-bind="router: { transition: 'entrance', cacheViews: true }">

	</div>
	
</div>

