<nav class="mmenu-wrapper" data-bind="mmenu: {}">
	<ul>
		<li>
            <a id="open-icon" href="#">
				<i class="icon icon-white icon-list"></i>
            </a>
		</li>
            <li>
            <a href="#home">
				<i class="icon icon-white icon-home"></i>
				Home
            </a>
		</li>
		<li>
            <a href="#details">
				<i class="icon icon-white icon-arrow-right"></i>
				Details
            </a>
		</li>

        <!-- ko foreach: router.routes -->

        <!-- /ko -->
	</ul>
</nav>